{# 
    This file contains the HTML code defining the common structure of all the pages while 
    exposing customisable blocks of the form {% block content %}{% endblock %} 
#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% include "header.html" %}
    </head>
    <body>
        <script src="{{ SITEURL }}/theme/js/lightbox-plus-jquery.min.js"></script>
        <link href="{{ SITEURL }}/theme/css/lightbox.css"
              rel="stylesheet"
              type="text/css" />
        <header class="container nu">
            <h1 class="site-title">
                <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
            </h1>
            <nav aria-label="Primary navigation">
                <ul class="nav-list">
                    <li>
                        <a href="{{ SITEURL }}/about/"
                           {% if output_file == 'about.html' %}class="active"{% endif %}>About</a>
                    </li>
                    <li>
                        <a href="{{ SITEURL }}/"
                           {% if output_file == 'index.html' %}class="active"{% endif %}>Blog</a>
                    </li>
                </ul>
                <div class="nav-group-title" aria-hidden="true">
                    <span class="line"></span>
                    <span>Photography</span>
                    <span class="line"></span>
                </div>
                <ul class="nav-list">
                    {% if pages %}
                        {% for nav_page in pages | sort(attribute='slug') %}
                            {% if nav_page.template == 'gallery' %}
                                <li>
                                    <a href="{{ SITEURL }}/{{ nav_page.url }}"
                                       {% if output_file == nav_page.save_as %}class="active"{% endif %}>{{ nav_page.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="separator">
            <main class="container vertical-spacing no-top main-content">
                {% block content %}{% endblock %}
            </main>
        </div>
        <footer class="container nu no-top">
            {% include "footer.html" %}
        </footer>
    </body>
</html>
