<center>
    <p>
        <a rel="noopener"
           target="_blank"
           href="mailto:karakostas.georgios@gmail.com"
           aria-label="email-link">Email</a> |
        <a rel="noopener"
           target="_blank"
           href="https://github.com/geokarak"
           aria-label="github-link">GitHub</a> |
        <a rel="noopener"
           target="_blank"
           href="https://www.linkedin.com/in/geokarak"
           aria-label="linkedin-link">LinkedIn</a> |
        <a rel="noopener"
           target="_blank"
           href="https://www.strava.com/athletes/73409273"
           aria-label="github-link">Strava</a>
    </p>
</center>
