{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
    <div class="gallery">
        {% for article in articles | selectattr('category', '==', 'street') | sort(attribute='date', reverse=True) %}
            <div>
                <a href="{{ article.photo_url }}" data-lightbox="street" data-title="">
                    <img src="{{ article.photo_url }}" alt="Photo" />
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
